crail.namenode.address            crail://localhost:9060
crail.cachepath                   /dev/hugepages/cache
crail.cachelimit                  1073741824
crail.storage.tcp.interface       eth0
crail.storage.tcp.datapath        /dev/hugepages/data
crail.storage.tcp.storagelimit    1073741824

